################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


Dockerfile
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Staging.json
**/appsettings.Production.json
04_InfraStructure/DAL/MySQL/DAO/bin/

### DotnetCore ###
# .NET Core build folders
bin/
obj/
obj/Debug/netstandart2.1


# Common node modules locations
/node_modules
/wwwroot/node_modules

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/dotnetcore,visualstudiocode

02_DI/bin/Debug/netstandard2.1/Repository.dll
02_DI/bin/Debug/netstandard2.1/02_DI.dll
02_DI/bin/Debug/netstandard2.1/02_DI.pdb
02_DI/bin/Debug/netstandard2.1/Core.dll
02_DI/bin/Debug/netstandard2.1/Core.pdb
02_DI/bin/Debug/netstandard2.1/Repository.dll
02_DI/bin/Debug/netstandard2.1/Repository.pdb
02_DI/bin/Debug/netstandard2.1/Services.dll
02_DI/bin/Debug/netstandard2.1/Services.pdb
02_DI/obj/02_DI.csproj.nuget.dgspec.json
02_DI/obj/02_DI.csproj.nuget.g.props
02_DI/obj/project.assets.json
02_DI/obj/project.nuget.cache
02_DI/obj/Debug/netstandard2.1/02_DI.assets.cache
02_DI/obj/Debug/netstandard2.1/02_DI.csproj.CoreCompileInputs.cache
02_DI/obj/Debug/netstandard2.1/02_DI.csproj.FileListAbsolute.txt
02_DI/obj/Debug/netstandard2.1/02_DI.csprojAssemblyReference.cache
02_DI/obj/Debug/netstandard2.1/02_DI.dll
02_DI/obj/Debug/netstandard2.1/02_DI.pdb
