################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


Dockerfile
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Staging.json
**/appsettings.Production.json
04_InfraStructure/DAL/MySQL/DAO/bin/

/04_InfraStructure/Repository/bin/
/04_InfraStructure/Repository/obj/
/04_InfraStructure/Http/obj/
/04_InfraStructure/Http/bin/
/03_Business/Entities/bin/
/03_Business/Entities/obj/
/03_Business/Services/bin/
/03_Business/Services/obj/
/02_DI/bin/
/02_DI/obj/
/01_Presentation/API/bin/
/01_Presentation/API/obj/